/* Main title bigger */
html[data-has-hero] #_top {
    font-size: 5rem;
}

/* Custom hero img */
.hero > img,
.hero .hero-html {
    filter: drop-shadow(0 0 40px rgba(217, 70, 239, 0.25)) !important;
    rotate: 7deg;
}
:root[data-theme='light'] .hero > img,
:root[data-theme='light'] .hero .hero-html {
    filter:
           drop-shadow(0 0 24px rgba(123, 47, 190, 1))
           drop-shadow(0 8px 32px rgba(217, 70, 239, .77)) !important;
}